<!DOCTYPE html>
<html lang="en">
{% extends "base_admin.html" %}
{% block title %}Add Vaccine{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <form method="POST" class="form-signin" >
        {{ adform.hidden_tag() }}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Add Vaccine</h4>
                    </header>
                    {% include 'includes/add_modal.html' %}
                    <article class="card-body">
                        <h6 class="card-text">Vaccine Name:</h6>
                        {{ adform.vaccinename(class="form-control", placeholder="Vaccine Name") }}
                        <br>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-add">Add</button>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}