<!DOCTYPE html>
<html lang="en">
{% extends "base_admin.html" %}
{% block title %}Add Vaccine{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Add Vaccine</h4>
                    </header>
                    {% include 'includes/add_modal.html' %}
                    <form method="POST">
                        {{ form.hidden_tag() }}
                    <article class="card-body">
                        <h6 class="card-text">Vaccine Name:</h6>
                        {{ form.vaccinename(class="form-control", placeholder="Vaccine Name") }}
                        <h6 class="card-text">Vaccine Expiration Date:</h6>
                        {{ form.expiration(class="form-control", placeholder="Expiration Date") }}
                        <h6 class="card-text">Vaccine Manufacturer:</h6>
                        {{ form.manufacturer(class="form-control", placeholder="Manufacturer") }}
                        <h6 class="card-text">Vaccine Supplier:</h6>
                        {{ form.supplier(class="form-control", placeholder="Supplier") }}
                        <h6 class="card-text">Additional Information:</h6>
                        {{ form.information(class="form-control", placeholder="Additional Information") }}
                        <br>
                        <div class="d-grid gap-2">
                            {{ form.add(class="btn btn-outline-success btn-block") }}
                        </div>
                    </article>
                </form>
                </div>
            </div>
        </div>
    
</div>
{% endblock %}