{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
  <form method="POST" class="form-signin" >
        {{ form.hidden_tag() }}
        <div class="row justify-content-center" >
            <div class="col-lg-8">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2" style = "font-family: 'Poppins', sans-serif;">User Registration</h4>
                    </header>
                    <article class="card-body">
                        <div class="form-row mt-3">
                            <div class="row">
                                  <div class="col">
                                    <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">First Name:</h6>
                                    {{ form.first_name(class="form-control", placeholder="First Name") }}
                                  </div>
                                  <div class="col">
                                    <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Middle Name:</h6>
                                    {{ form.middle_name(class="form-control", placeholder="Middle Name") }}
                                  </div>
                                <div class="col">
                                    <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Last Name:</h6>
                                    {{ form.last_name(class="form-control", placeholder="Last Name") }}
                                  </div>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col form-group">
                                <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">City:</h6>
                                <div class="row">
                                  <div class="col">
                                    {{ form.city(class="form-select", placeholder="City") }}
                                  </div>
                                  <div class="col">
                                  </div>
                                  <div class="col">
                                  </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                                <div class="col-md-12">
                                    <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">House Address:</h6>
                                    {{ form.home_address(class="form-control", placeholder="Home Address") }}
                                </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="row">
                                  <div class="col-md-auto">
                                    <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Date of Birth:</h6>
                                    {{ form.birthdate(class="form-control", placeholder="Birth Date") }}
                                  </div>
                                  <div class="col-md-auto">
                                      <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Contact Number:</h6>
                                      {{ form.contact_number(class="form-control", placeholder="Contact Number") }}
                                  </div>
                            </div>
                         </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Email Address:</h6>
                                {{ form.email_address(class="form-control", placeholder="Email Address") }}
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="row">
                                  <div class="col-md-auto">
                                    <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Password:</h6>
                                    {{ form.password(class="form-control", placeholder="Password") }}
                        
                                  </div>
                                  <div class="col-md-auto">
                                    <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Confirm Password:</h6>
                                    {{ form.password2(class="form-control", placeholder="Confirm Password") }}
                                  </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="d-grid gap-2">
                            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                        </div>
                    </article>
                    <div class="border-top card-body text-center" style = "font-family: 'Poppins', sans-serif;">Have an account? <a class="nav-link active" href="{{ url_for('Login') }}">Log In Now</a></div>
                </div>
            </div>
        </div>
      </form>
  </div>
{% endblock %}