<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
{% extends "base.html" %}
{% block title %}Schedule Appointment{% endblock %}
{% block content %}
<div class="form-row mt-3">
    <div class="col form-group">
    <div class="row">
          <div class="col-sm-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Hospital Locations</h4>
                </header>
                <form method="POST">
                    {{ form.hidden_tag() }}
                <article class="card-body">
                    <iframe class="map", src="{{url_for('static', filename='map.html')}}" width="720" height="620"></iframe>
                </article>
            </div>
          </div>
          <div class="col-sm-6">

            <div class="card">
              <header class="card-header">
                <h4 class="card-title mt-2">Hospital Locations</h4>
              </header>

              <article class="card-body">
                <h4 class="card-title mt-2">Suggested Location: {{lowestdistance}} </h4>
              </article>
            </div>

            <div class="card my-3 py-2">
                <header class="card-header">
                    <h4 class="card-title mt-2">Hospital Information</h4>
                </header>
                <article class="card-body">
                    <h6 class="card-text">Hospital Name:</h6>
                    {{ form.hospitalname(class="form-control", id ="hospitalname") }}
                    <script>
                        $("#hospitalname").prop("readonly", false);
                    </script>
                    <br>
                <h6 class="card-text">Hospital Address:</h6>
                    {{ form.hospitaladdress(class="form-control readonly", id="hospitaladdress") }}
                    <script>
                        $("#hospitaladdress").prop("readonly", false);
                    </script>
                    <br>
                <h6 class="card-text">Available Vaccines: </h6>
                  <div class="form-group">
                    {{ form.availablevaccines(class="form-select", placeholder="Available Vaccines") }}
                  </div>
                    <br>
                  <h6 class="card-text">Expected Date of Vaccination:</h6>
                  <div class="form-group">
                   <div class="form-group">
                      {{ form.vaccineschedule(class="form-select", placeholder="Expected Date of Vaccination") }}
                  </div>
                    <br>
                    <div class="d-grid gap-2">
                            {{ form.schedule(class="btn btn-primary btn-block") }}
                    </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </article>
            </div>
          </div>
  </form>
    </div>
    </div>
{% endblock %}
