<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Steps{% endblock %}
{% block content %}
&nbsp;
<h3 class="text-center mb-4 pb-2 text-success fw-bold">HOW TO USE THE COVID-19 SCHEDULING SYSTEM</h3>
 <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
              <article class="card-body">
                  <div>
                      <span class="circle">1</span>
                      <span class="label"><strong>Sign Up:</strong> </span>
                      <ul style="list-style-position: inside; vertical-align: middle;">
                          <li>A registered user will be able to use the full functionalities of the system.</li>
                      </ul>
                  </div>
                  <div>
                      <span class="circle">2</span>
                      <span class="label"><strong>Schedule Appointment Page: </strong></span>
                      <ul style="list-style-position: inside; vertical-align: middle;">
                          <li><strong>Vaccination Sites Locations:</strong> First, select a nearest vaccination site in your area. </li>
                          <li><strong>Vaccination Sites Appointments:</strong> Then, select your preferred vaccines that are available in that specific vaccination site and select your preferred schedule.</li>
                      </ul>
                  </div>
                  <div>
                      <span class="circle">3</span>
                      <span class="label"><strong>View Appointment:</strong></span>
                      <ul style="list-style-position: inside; vertical-align: middle;">
                          <li>After making an appointment, you may now view it via our system and you will also receive an SMS notification about your appointment details.</li>
                      </ul>
                  </div>
              </article>
            </div>
        </div>
    </div>
  </div>


{% endblock %}