{% extends 'base_admin.html' %}
{% block title %}
List of Vaccines
{% endblock %}
{% block content %}
<style>.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 300px;
    z-index: 600;
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    .alert {
   padding-left: 300px !important;
}
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }</style>
<div class="row"> 
    <div class="col-2">
        <nav id="sidebar" class="collapse d-lg-block sidebar collapse bg-dark">
            <div class="position-sticky">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="navbar-brand mt-2 mt-lg-0">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Resbakuna_logo.png/1200px-Resbakuna_logo.png"
                      height="80"
                      alt="RESBAKUNA DOH Logo"
                      loading="lazy"
                    />
                  </a>
                <a class="list-group-item list-group-item-action active bg-dark text-success text-center" style="font-family: 'Roboto Flex';" id="list-home-list" href="{{ url_for('vaccines') }}" role="tab" aria-controls="home"><i class="bi bi-house-door-fill">  Home</i></a>
                <a class="list-group-item list-group-item-action bg-dark text-success text-center " style="font-family: 'Roboto Flex';" id="list-profile-list"  href="{{ url_for('addvaccine') }}" role="tab" ><i class="bi bi-person-circle">
                  Add Vaccine</i></a>
                <a class="list-group-item list-group-item-action bg-dark text-success text-center" style="font-family: 'Roboto Flex';" id="list-messages-list" href="{{ url_for('.download_report') }}" role="tab" aria-controls="messages"><i class="bi bi-file-earmark-excel-fill"></i> Generate Report</a>
              </div>
              </div>
        </nav>
    </div>
    
    
        
        <div class="col-lg-10">
            <br>
            <div class="bg-light" style="font-family: 'Roboto Flex';"><div class="container-fluid">Home / Update Vaccine Schedule</div></div>
                <header class="py-4">
                    <div class="container-fluid ">
                        <h1 class="text-left " style="font-family: 'Montserrat';">UPDATE VACCINE SCHEDULE</h1>
                    </div>
                    <div class="container-fluid ">
                        <a class="text-left " style="font-family: 'Montserrat';">You can modify all vaccine schedules which are currently in your hospital's availability</a>
                    </div>
                </header>
            <div class="container mt-5 mb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                    <div class="card">
                        <header class="card-header">
                            <h4 class="card-title mt-2">Update Vaccine</h4>
                        </header>
                        <article class="card-body">
                            <div class="form-row mt-3">
                                <div class="col form-group">
                                <h6 class="card-text">Hospital Name:</h6>
                                <div class="row">
                                    <div class="col">
                                        {{ items.hosp_name }}
                                    </div>
                                </div>
                                <h6 class="card-text">Vaccine Name:</h6>
                                <div class="row">
                                    <div class="col">
                                        {{ items1.vaccine_name }}
                                    </div>
                                </div>
                                </div>
                            </div>
                            <form method="POST" class="form-signin" >
                                {{ form.hidden_tag() }}
                            <div class="form-row mt-3">
                                <div class="col form-group">
                                <h6 class="card-text">Schedule Date:</h6>
                                <div class="row">
                                    <div class="col">
                                        {{ form.vaccinedate(class="form-control") }}
                                    </div>
                                    <div class="col">
                                    </div>
                                    <div class="col">
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <div class="col form-group">
                                <h6 class="card-text">Schedule Time:</h6>
                                <div class="row">
                                    <div class="col">
                                        {{ form.time1(class="form-control") }}
                                    </div>
                                    TO
                                    <div class="col">
                                        {{ form.time2( class="form-control") }}
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    
                                    {{ form.addtime(class="btn btn-lg btn-block btn-primary rounded-0") }}
                                </div>
                                <div class="col">
                                    {{ form.add(class="btn btn-lg btn-block btn-primary rounded-0") }}
                                </div>
                              </div>
                                
                            </form>
                    </div>
                    </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            </div>
        <div class="col-lg-10">
            
            <h2>All Schedules</h2>
            <p>Add Schedules for Vaccine</p>
            <br>
            <div class="row">
                {% for sched in s %}
                {% include 'includes/delete_modal.html' %}
                <div class="col-md-3">
                    <div style="margin-bottom: 5px" class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Date: {{ sched.availability_date }}</h5>
                        <h5 class="card-title">Start: {{ sched.availability_time1 }}</h5>
                        <h5 class="card-title">End: {{ sched.availability_time2 }}</h5>
                        <button class="btn btn-outline btn-info rounded-0" data-toggle="modal" data-target="#Modal-updateSched-{{ sched.id }}">Select</button>
                        <button class="btn btn-outline btn-danger rounded-0" data-toggle="modal" data-target="#Modal-deleteSched-{{ sched.id }}">Delete</button>
                        <p class="card-text"><strong>
                            </strong>
                        </p>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h2>All Users in Schedule</h2>
            <p>Select schedule for vaccine to view</p>
            <br>
            <div class="row">
                {% for s in u %}
                <div class="col-md-6" style="margin-top:20px; margin-left:20px">
                    <div style="margin-bottom: 5px" class="card text-left">
                    <div class="card-body">
                        <h5 class="card-title">ID: {{ s.user_id }}</h5>
                        <h5 class="card-title">Last Name: {{ s.last_name }}</h5>
                        <h5 class="card-title">City: {{ s.city }}</h5>
                        <p class="card-text"><strong>
                            </strong>
                        </p>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
    
    </div>
{% endblock %}