<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}View Appointment{% endblock %}
{% block content %}
       <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                     <article class="card-body">
                 <div class="form-row mt-3">
                            <div class="row">
                                  <div class="col">
                                    <h6 class="card-text">First Name:</h6>
                                     <input type="text" class="form-control" placeholder="First Name" aria-label="fname" readonly value ={{view.first_name}}></li>
                                  </div>
                                  <div class="col">
                                    <h6 class="card-text">Middle Name:</h6>
                                     <input type="text" class="form-control" placeholder="Middle Name" aria-label="mname" readonly value ={{view.middle_name}}></li>
                                  </div>
                                <div class="col">
                                    <h6 class="card-text">Last Name:</h6>
                                     <input type="text" class="form-control" placeholder="Last Name" aria-label="lname" readonly value ={{view.last_name}}></li>
                                  </div>
                            </div>
                        </div>
                         <br>
                         <h6 class="card-text">Registration Number:</h6>
                         <input type="text" class="form-control" placeholder="Registration Number" aria-label="registrationnumber" readonly value ={{view.id}}></li>
                         <br>
                         <h6 class="card-text">Vaccine Name:</h6>
                            <input type="text" class="form-control" placeholder="Vaccine Name" aria-label="vaccinename" readonly value={{view.vaccine_name}}></li>
                        <br>
                         <h6 class="card-text">Vaccination Site:</h6>
                             <input type="text" class="form-control" placeholder="Vaccination Site" aria-label="cvaccinesite" readonly value={{view.hosp_name}}></li>
                          <br>
                         <h6 class="card-text">Vaccination Schedule:</h6>
                             <input type="text" class="form-control" placeholder="Vaccination Date" aria-label="vaccinesched" readonly value={{view.availability_date}}></li>
                    </article>
                </div>
            </div>
        </div>
       </div>
{% endblock %}