<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}View Appointment{% endblock %}
{% block content %}
<br><br>
  <h1 class="text-center mb-4 pb-2 text-success fw-bold" style = "font-family: 'Poppins', sans-serif;">VIEW YOUR APPOINTMENT HERE</h1>
       <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                     <article class="card-body">
                 <div class="form-row mt-3">
                            <div class="row">
                                  <div class="col">
                                    <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">First Name:</h6>
                                     <input type="text" class="form-control" placeholder="First Name" aria-label="fname" readonly value ="{{user.first_name}}"></li>
                                  </div>
                                  <div class="col">
                                    <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Middle Name:</h6>
                                     <input type="text" class="form-control" placeholder="Middle Name" aria-label="mname" readonly value ="{{user.middle_name}}"></li>
                                  </div>
                                <div class="col">
                                    <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Last Name:</h6>
                                     <input type="text" class="form-control" placeholder="Last Name" aria-label="lname" readonly value ="{{user.last_name}}"></li>
                                  </div>
                            </div>
                        </div>

                         <br>

                         <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Registration Number:</h6>

                         {% if appoint %}
                            <input type="text"
                                    class="form-control"
                                    placeholder="Registration Number"
                                    aria-label="registrationnumber"
                                    readonly
                                    value ={{appoint.id}}>
                        {% else %}
                            <input type="text"
                                    class="form-control"
                                    placeholder="Registration Number"
                                    aria-label="registrationnumber"
                                    readonly
                                    value ="None">
                        {% endif %}

                        </li>
                         <br>
                         <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Vaccine Name:</h6>
                        
                         {% if appoint %}
                            <input type="text"
                                    class="form-control"
                                    placeholder="Vaccine Name"
                                    aria-label="vaccinename"
                                    readonly
                                    value="{{view.vaccine.vaccine_name}}">
                        {% else %}
                            <input type="text"
                                        class="form-control"
                                        placeholder="Vaccine Name"
                                        aria-label="vaccinename"
                                        readonly
                                        value="None">
                        {% endif %}
                        </li>
                        <br>
                         <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Vaccine Doses:</h6>
                        {% if appoint %}
                            <input type="text"
                                    class="form-control"
                                    placeholder="Vaccine Doses"
                                    aria-label="vaccinedoses"
                                    readonly
                                    value={{view.availability_details.availability_date}}></li>
                        {% else %}
                        <input type="text"
                                class="form-control"
                                placeholder="Vaccine Doses"
                                aria-label="vaccinedoses"
                                readonly
                                value="None"></li>
                        {% endif %}

                         <br>
                         <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Vaccination Site:</h6>
                         {% if appoint %}
                             <input type="text"
                                    class="form-control"
                                    placeholder="Vaccination Site"
                                    aria-label="cvaccinesite"
                                    readonly
                                    value="{{view.hospital.hosp_name}}"></li>
                        {% else %}
                        <input type="text"
                                    class="form-control"
                                    placeholder="Vaccination Site"
                                    aria-label="cvaccinesite"
                                    readonly
                                    value="None"></li>
                        {% endif %}
                          <br>
                         <h6 class="card-text" style = "font-family: 'Poppins', sans-serif;">Vaccination Schedule:</h6>
                         {% if appoint %}
                         <input type="text"
                                class="form-control"
                                placeholder="Vaccination Date"
                                aria-label="vaccinesched"
                                readonly
                                value={{view.availability_details.availability_date}}></li>
                        {% else %}
                        <input type="text"
                                class="form-control"
                                placeholder="Vaccination Date"
                                aria-label="vaccinesched"
                                readonly
                                value="None"></li>
                        {% endif %}
                    </article>
                </div>
            </div>
        </div>
       </div>
{% endblock %}